input[type="number"]{
    border:0px solid grey;
    border-radius:10px;
    height:40px;
    width: 20%;
    background-color:white;
    text-align:center;
    outline:none;
    margin-left: 10%;
    margin-right: 3%;
    margin-bottom: 10px;
    -moz-appearance: textfield;
    box-shadow: 2px 2px 2px #34416B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
    input[type="number"].yearbox{
        margin-left:35px;
    }
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    .box{
    border:0px solid white;
    width: 40%;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left:53%;
    margin-top:7%;
    border-radius:25px;
    background-color: #9B9DAA;
    box-shadow: 5px 5px 15px 6px #060719;  }

    select{
    border:0px solid grey;
    border-radius:10px;
    width:20%;
    height:40px;
    background-color:white;
    text-align: center;
    outline:none;
    margin-left: 5%;
    margin-right:5px;
    box-shadow: 2px 2px 2px #34416B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:650;
    
    }
    option{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        
    }
    button.button1{
        margin-top :4%;
        margin-left:39%;
        margin-bottom: 4%;
        height: 50px;
        width: 120px;
        border-radius: 10px;
        border:none;
        font-weight: 700;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .result{
        border:1px solid white;
        margin-top:10px;
        height: 50px;
        text-align: center;
        color:white;
    }
    .ttd{
        border:0px solid white;
        height:20px;
        width: 20%;
        border-radius: 10px;
        margin-left: 10%;
       float:left;
       background-color: #545D7E;
       color:white;
       text-align: center;
       padding-top: 9px;
       padding-bottom: 9px;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       box-shadow: 2px 2px 2px 2px #34416B;  
        font-weight: 600px;
    
    }  
    h2{
    border:0px solid grey;
    margin-left:52px;
    margin-top: 1PX;
    margin-bottom:10px;
    color:#06071B;
    text-shadow: 2px ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    
 
    .output{
        border:0px solid white;
    width: 40%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left:53%;
    margin-top:10%;
    margin-bottom: 20%;
    border-radius:25px;
    background-color: #9B9DAA;
    box-shadow: 5px 5px 15px 6px #060719;
    height: 370px;
    }

    body{
    background-image: url('../img/src.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    html{
        scroll-behavior: smooth;
    }
    #section{
        text-decoration: none;
    }
    #section2{
        text-decoration: none;
    }
    a{
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    
    .age{
    
        border:0px solid white;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 1%;
        font-weight:600;
        font-size: 20px;
        padding-left: 33px;
    }
    
    
    h2.result{
        border:0px solid white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#06071B;
        margin-left: 13px;
        height:40px;
        margin-top:18px;
        width:250px;
        text-align: justify;
    }
    .title{
    border:0px solid white;
    width: 60%;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left:38%;
    margin-top:7%;
    border-radius:25px;
    height:400px;
    
    }
    
    
    .click{
        border:0px solid white;
        height: 40px;
        width:120px;
        margin-top:100px;
        margin-left: 600px;
        border-radius: 10px;
        box-shadow: 2px 0px 20px 5px black;
        color:white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;    
        padding-top: 10px;
        font-weight: 400;
        font-size: 20px;
    }
    
    .click:hover{
        background-color: #131428;
    }
    .titleheading{
    
        border: 0px solid white;
        height:100px;
        width:65%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100px;
        color:white;
        text-align: right;
        margin-left: 200px;
        margin-bottom: 5px;
        letter-spacing: 1px;
        text-shadow: 15px 5px 5px  black;
        font-weight: 500;
        
    }
    
    footer{
        background-color:#090C1D;
        border: 0px solid #090C1D;
        HEIGHT:100PX;
        margin-top: 15px;
        padding-top: 7px;
        border-radius: 0px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 17px;
        border:none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:white;
        box-shadow: 5px 5px 15px 10px #090C1D;
        border-radius: 10px;
        text-align: center;
        
    }
        
    .aboutme{
    
        border:1px solid #9B9DAA;
        height: 30px;
        width:100px;
        margin-left: 86%;
        margin-top:30px;
        color:white;
        text-align: center;
        padding-top: 9px;
        padding-bottom: 2px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 5px;
    }
    .aboutme:hover{
        background-color: #9B9DAA;
        color:#090C1D;
    }
    
    
    
    
